body, p, h1, h2, h3{
    font-family: 'Ubuntu', sans-serif;
}

h2{
    color:#AAA;
    text-shadow: 0 1px 1px rgba(255,255,255,1);
}


body {
    background-color: #fff;
    font-size:16px;
}

.transition{
    webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.top-navbar{
    background:#e3776d;
}



.front-item > div {
    position:relative;
    color:#FFF;
    height: 250px;
    margin: 10px 0;
    width:100%;
    background:#000;
    padding: 10px;
}

.front-item:hover .item-bg{
    opacity:1;
}



.item-bg{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-size:cover!important;
    opacity:0.5;
}

.item {
    position: relative;
    margin: 4px 0;
}


.item-title {
    position:absolute;
    top: 0px;
    right:0;
    left:0;
    color:#FFF;
    padding:10px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.item-content {
    bottom: 0px;
    /* margin-top: -20px; */
    position: absolute;
    width: 100%;
}

.item-content h5, .item-content h6 {
    color: white
}


.item-description {
    font-size: 12px;
    font-weight: normal;
    position:absolute;
    right:0;
    left:0;
    bottom:0;
    padding:20px 10px 10px 10px;
}

.top-navbar{
}

.top-navbar h1 a {
    color:#FFF;
}
.top-navbar h1{
    display:inline-block;
    line-height:1em;
    margin:0;
    padding:0;
}

#top-buttons .button{
    background: none;
    border:1px solid white;
}

#top-buttons .button:hover{
    background: #FFF;
    color:#e3776d;
    border:1px solid white;
}

#top-buttons{
    padding:0;
    margin:10px 0;
}

.gradient-down{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.gradient-up{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 15%, rgba(0,0,0,0.63) 96%, rgba(0,0,0,0.65) 98%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,rgba(0,0,0,0)), color-stop(96%,rgba(0,0,0,0.63)), color-stop(98%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 15%,rgba(0,0,0,0.63) 96%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 15%,rgba(0,0,0,0.63) 96%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 15%,rgba(0,0,0,0.63) 96%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 15%,rgba(0,0,0,0.63) 96%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}


.alert-box p{
    margin:0;
    padding:0;
}

.pink-color{
color:#e3776d;
}
.item-dibs.pink-color{ color :#FFF!important;}

.item-user a{
    color:#FFF!important;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;

}

.item-dibs{
    font-size:1.4em;
    font-weight:bold;
    padding:5px 10px;
    text-align: center;
    margin-top:10px;

}

.item-dibs.available{
    cursor:pointer;
    background:#e3776d!important;

}

.item-dibs,
.item-dibs:hover{
    background:#8D4B45;
}